.firstMainText{
    margin-top: 150px;
    font-size: 36px;
    color: #3E4555;
}

.topParagraph{
    font-size: 13px;
    color: #8D97AD;
}

.bottomParagraph{
font-size: 18px;

.secondContainer{
    background-color: #F5F7FA;
}

.circle{
    border-radius: 50%;
    background-color: white;
    width: 50px;
    height: 50px;
    text-align: center;
    color: red;
    font-size: 30px;

}