.firstMainText{
    margin-top: 150px;
    font-size: 36px;
}

.topParagraph{
    font-size: 16px;
}

.secondContainer{
    background-color: #F5F7FA;
}

.circle{
    border-radius: 50%;
    background-color: white;
    width: 50px;
    height: 50px;
    text-align: center;
    color: red;
    font-size: 30px;
    
}